body {
  margin: 0;
  font-family: sans-serif;
  background: black;
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

input::placeholder,
textarea::placeholder {
  color: rgba(24, 74, 150, 0.45);
}

